.centerDiv {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 16.56rem;
	border: solid #5e5e60;
	border-width: 0rem 0.12rem 0rem 0.12rem;
	padding-bottom: 0.12rem;
	padding-top: 0.12rem;
}

.titleDiv {
	height: 2.3rem;
	text-align: center;
	font-size: x-large;
	font-family: 'Bodoni Moda';
	text-transform: uppercase;
	border: solid #5e5e60;
	color: #cc2128;
	font-weight: 700;
	width: 100%;
	border-width: 0px 0rem 0.12rem 0rem;
	letter-spacing: 0.3rem;
}

.contentDiv {
	text-align: center;
	width: 100%;
}

.border {
	border-top: 0.12rem solid;
}
