.backgroundDiv {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: black;
	opacity: 0.6;
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

.gapedDiv{
  gap: 2rem
}

.visibleArea {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 20%;
	right: 30%;
	width: 40%;
	height: 60%;
	gap: 0.5rem;
	background-color: #fcfbf3;
	z-index: 1;
}

.visibleArea h1 {
	margin: 0.2rem;
	font-size: x-large;
	text-transform: lowercase;
}

.visibleArea div {
	width: 85%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.visibleArea label {
	width: 10rem;
}

.visibleArea input, select {
	width: 9rem;
	font-family: 'Libre Baskerville';
	border-radius: 1rem;
	text-align: center;
  border: 1px solid black;
}

.visibleArea p {
	color: #5d5e60;
}

.visibleArea p:hover {
	color: #cc2128;
	cursor: pointer;
}
