body {
  font-family: 'Libre Baskerville';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fcfbf3;
  color: #5d5e60;
}

h1 {
  color: #cc2128;
  font-family: 'Bodoni Moda';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
